/*Ejercicio Responsive*/

*
{
    box-sizing: content-box;
    padding: 0px;
    margin: 0px;
}

@media (min-width : 0) and (max-width: 425px) 
{
    body
    {
        display: flex;
        justify-content: center;
    }
    .contenedor-cuadrados
    {
        margin-top:10px;
        display: grid;
        grid-template-columns: [x0]100%[x1];
        gap: 5px;
        grid-template-rows: repeat(7,100px);      
        width: 100px;
        height: 700px;
    }

    .cuadrado1,
    .cuadrado2,
    .cuadrado3,
    .cuadrado4,
    .cuadrado5,
    .cuadrado6,
    .cuadrado7
    {
        background-color: orange;
        box-shadow: 1px 1px 1px 1px;
    }

    h1
    {
        color: red;
    }
    
}

@media (min-width : 426px) and (max-width: 768px) 
{
    body
    {
        display: flex;
        justify-content: center;
    }
    .contenedor-cuadrados
    {
        margin-top: 10px;
        display: grid;
        grid-template-columns: [x0]150px[x1]150px[x2];
        gap: 5px;
        grid-template-rows: [y0]150px[y1]150px[y2]150px[y3]150px[y4];      
        width: 300px;
        height: 600px;
    }

    .cuadrado1,
    .cuadrado2,
    .cuadrado3,
    .cuadrado4,
    .cuadrado5,
    .cuadrado6,
    .cuadrado7
    {
        background-color:green;
        box-shadow: 1px 1px 1px 1px;
    }

    .cuadrado1
    {
        grid-column: x0/x2;
    }

    h1
    {
        color: red;
    }

}

@media (min-width : 769px)
{
    body
    {
        display: flex;
        justify-content: center;
    }
    .contenedor-cuadrados
    {
        margin-top: 10px;
        display: grid;
        grid-template-columns: [x0]250px[x1]250px[x2]250px[x3]250px[x4];
        grid-template-rows: [y0]400px[y1]400px[y2];  
        gap: 5px;            
        width: 1000px;
        height: 800px;
    }

    .cuadrado1,
    .cuadrado2,
    .cuadrado3,
    .cuadrado4,
    .cuadrado5,
    .cuadrado6,
    .cuadrado7
    {
        background-color:green;
        box-shadow: 1px 1px 1px 1px;
    }

    .cuadrado1
    {
        grid-column: x0/x2;
        grid-row: y0/y1;
    }

    h1
    {
        color: red;
    }

}